<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb3263403613677291</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.753663186569-p33rf0orjjm1v9bv4ek0da8294nosbnv</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>3263403613677291</string>
	<key>FacebookDisplayName</key>
	<string>WorldNoor</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1417085788581438~8787277589</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>KTMessenger</string>
		<string>MizdahApp</string>
		<string>WerfieApp</string>
		<string>Testing</string>
		<string>SeezittApp</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-api20140430</string>
		<string>whatsapp</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This access will help you to upload audio messages and can upload music in a post or as a comment.</string>
	<key>NSCameraUsageDescription</key>
	<string>This access will allow you directly take pictures from camer and upload as post and as comment.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This access will give you accurate information regarding people nearby and weather information in your area.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This access will give you accurate information regarding people nearby and weather information in your area.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This access will help you to record audio files upload them as post or as comment.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This access will help you to upload your pictures from gallery as a post and comment.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speak and watch your words become text or say a color to see the box change colors.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Amiri-Bold.ttf</string>
		<string>Amiri-BoldSlanted.ttf</string>
		<string>Amiri-Regular.ttf</string>
		<string>AmiriQuran.ttf</string>
		<string>BahijTheSansArabicPlain.ttf</string>
		<string>JameelNoori-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
